
{% extends 'base.html' %}
{% block content %}

<h1>My Shopping List</h1>

<div class="items">
{% for item in current_user.shopping_list_items %}
    <div class="item-details">
        <a href="{{ url_for('main.item_detail', item_id=item.id) }}">{{ item.name }}</a>
        <p><img src="{{ item.photo_url }}" width="200px"></p>
        <p><strong>Price:</strong> ${{ item.price }}</p>
        <p><strong>Store:</strong> {{ item.store.title }}</p>
        <form method="POST" action="{{ url_for('main.remove_from_shopping_list', item_id=item.id) }}">
            <input type="submit" value="Remove" class="button">
        </form>
    </div>
{% endfor %}
</div>

{% if not current_user.shopping_list_items %}
<p>No items in your shopping list yet!</p>
{% endif %}

{% endblock %}
