{% extends 'base.html' %}
{% block content %}

<h1>Store - {{ store.title }}</h1>

<p><strong>Address:</strong> {{ store.address }}</p>
<p><strong>Created by:</strong> {{ store.created_by.username }}</p>

<h2>Store Items</h2>

<div class="items">
{% for item in store.items %}
    <div class="item-details">
        <a href="/item/{{ item.id }}">{{ item.name }}</a>
        <p><img src="{{ item.photo_url }}" width="200px" height="200px"></p>
        <p><strong>Price: ${{ item.price }}</strong></p>
        <p><strong>Category:</strong> {{ item.category }}</p>
    </div>
{% endfor %}
</div>


<h2>Edit Store</h2>

<form method="POST">
    <fieldset>
        <legend>Please enter your information:</legend>

        {% include '_store_form.html' %}
    </fieldset>
</form>

{% endblock %}